<div class="body-container">

    <h1 id="one-expense-title">{{data.name}}</h1>

    <div id="one-expense-container">

        <div>
            <h4>Capital: </h4>
            <h5>{{data.capital}}</h5>
            <br>
            <h4>Population: </h4>
            <h5>{{data.population}} people</h5>
            <br>
            <h4>Calling Code</h4>
            <h5>{{data.callingCodes}}</h5>
            <br>
        </div>

        <div>
            <h4>Native Name</h4>
            <h5>{{data.nativeName}}</h5>
            <br>
            <h4>Population Name</h4>
            <h5>{{data.demonym}}</h5>
            <br>
            <h4>Continent</h4>
            <h5>{{data.region}}</h5>

        </div>

    </div>

    <div id="country-details-flag">
          <img src="{{data.flag}}" alt="{{data.name}} flag">
    </div>

</div>

