<h1>List of all trips</h1>

{{#each trips}}

<div class="trips-card">

<h2>Name: {{name}}</h2>

<p>Description: {{description}}</p>

<img class="trip-img" src="{{imageUrl}}" alt="{{name}}" />

<h4>Owner: {{owner.email}}</h4>

<a href="/trips/{{_id}}">See more</a>
</div>

{{/each}}