<div class="body-container">
    
    <h1 id="all-trips-title">Trips</h1>

    <div id="all-trips-container">

        <div id="all-trips-menu">

            <a href="/private/trips/add"><img src="/images/plus52-5.png " alt="New Trip" /></a>
            <div>
                <h4>Overall Sum</h4>
                <h4>€ {{overallExpense}}</h4>
            </div>

        </div>

        <div id="all-trips-content">

            {{#each trips}}

            <div id="all-trips-single">
                <div class="all-trips-single-line">
                    <a href="/private/trips/{{_id}}">{{name}}</a>
                    <div>
                        {{#each participants}}
                            <span>{{username}}</span> 
                        {{/each}}
                    </div>
                </div>

                <div class="all-trips-single-line">
                    <h5>{{description}}</h5>
                    <div>
                        <h4>Sum</h4>
                        <h4>€ {{totalExpenses}}</h4>
                    </div>
                </div>

            </div>

            {{!-- <img class="trip-img" src="{{imageUrl}}" alt="{{name}}" /> --}}
            {{!-- <a href="/private/trips/{{_id}}">Trip details</a> --}}
            {{/each}}

        </div>

    </div>
    
</div>

