{{!-- <h1>Edit Trip</h1>


<form action="/private/trips/{{trip._id}}/edit" method='POST' enctype="multipart/form-data">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="{{trip.name}}" required />

  <label for="description">Description: </label>
  <textarea type="text" name="description" id="description" required>{{trip.description}}</textarea>

  <br>
  <label for='participants'>Participants</label>
  <select name='participants' id="participants" multiple>
      <option disable selected value="" >Select participants</option>
      {{#each allUsers}}
          <option value="{{this._id}}">{{this.username}}</option>
      {{/each}}
  </select>

<label for="imageUrl">Image:</label>
<input type="file" name="imageUrl" id="imageUrl" value="{{trip.imageUrl}}"/>

  <button type="submit">Save</button>

</form>


{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}} --}}



<div class="body-container">
  <h1 id="all-trips-title">Trips</h1>
</div>

<div class="floating-container">
  <h2 class="floating-container-title">Edit Trip</h2>

  <form class="floating-container-content" action="/private/trips/{{trip._id}}/edit" method='POST' enctype="multipart/form-data">

    <div class="floating-container-content-data">

      <div class="floating-container-content-column">

        <div>
          <label for="name">Location:</label>
          <input type="text" name="name" id="name" value="{{trip.name}}" required />  
        </div>

        <div>
          <label for="description">Description: </label>
          <textarea type="text" name="description" id="description" required>{{trip.description}}</textarea>
        </div>

      </div>

      <div class="floating-container-content-column">

        <div>
          <label for='participants'>Friends:</label>
          <select name='participants' id="participants" multiple>
              <option disable selected value="" >Select friends</option>
              {{#each allUsers}}
                  <option value="{{this._id}}">{{this.username}}</option>
              {{/each}}
          </select>
        </div>
        
        <div>
          <label for="imageUrl">Cover Photo:</label>
          <input type="file" name="imageUrl" id="imageUrl" value="{{trip.imageUrl}}"/>  
        </div>

      </div>

    </div>

    <div class="floating-container-button">
      <button type="submit">Save</button>
    </div>

  </form>

  <a class="floating-container-close" href="/private/trips/{{trip._id}}"><img src="/images/close-25.png " alt="close" /></a>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

</div>