<h1>Trip Details</h1>

<div class="trip-card">
</div>

<h2>Name: {{trip.name}}</h2>
<p>Description: {{trip.description}}</p>
<img class="trip-img" src="{{trip.imageUrl}}" alt="{{trip.name}}" />

<h4>Participants: </h4>
    {{#each trip.participants}}
      <p>{{username}}</p>
    {{/each}}
  <br>
  <br>
  <p>Total Expenses: {{trip.totalExpenses}}</p>


<h2>Add an expense:</h2>

<form action='/private/trips/{{trip._id}}/expense' method='POST'>

  <label for="description">Description: </label>
  <textarea type="text" name="description" id="description" required></textarea>

  <br>
  <label for="category">Category:</label>
  <select name="category" id="category">
    <option value="General" selected>General</option>
    <option value="Accommodation">Accommodation</option>
    <option value="Transport">Transport</option>
    <option value="Food & Drink">Food & Drink</option>
  </select>

  <br>
  <label for="cost">Cost:</label>
  <input type="text" name="cost" id="cost" required/>  

  <br>
  <button type="submit">Add expense</button>

</form>

{{#if trip.expenses}}

<h3>List of expenses:</h3>
  
  {{#each trip.expenses}}
    <br>
    <h4>Description: {{this.description}}</h4>
    
    <h5>Cost: {{this.cost}}</h5>
  
    <p>Category: {{this.category}}</p>
    <p>Paid by: {{this.user.username}}</p>
    <p>Participants: {{this.trip.participants.username}}</p>

  {{/each}}

{{/if}}