<h1> Trip details</h1>

<div class="trip-card">

</div>
<h2>Name: {{trip.name}}</h2>
<p>Description: {{trip.description}}</p>
<img class="trip-img" src="{{trip.imageUrl}}" alt="{{trip.name}}" />

<h4>Participants: {{trip.participants.username}}</h4>

<br/>
<br/>
<h2>Add an expense:</h2>
<form action='/trips/{{trip._id}}' method='POST'>

  <label>Description: </label>
  <textarea type="text" name="description" required></textarea>

  <label>Category:</label>
  <input type="text" name="category" />

  <label>Cost:</label>
  <input type="number" name="cost" required/>  

  <button type="submit">Add expense</button>

</form>



{{#if trip.expenses}}
<h3>List of expenses:</h3>
  {{#each trip.expenses}}
    <h4>Description: {{this.description}}</h4>
    <h5>Cost: {{this.cost}}</h5>
    <br>
    <p>Category: {{this.category}}</p>
    <p>Paid by: {{this.user.username}}</p>
    <br>
    <p>Participants: {{this.trip.participants.username}}</p>
  {{/each}}
{{/if}}