<div class="body-container">
    
  <h1 id="one-trip-title">{{trip.name}}</h1>

    <div id="one-trip-container">


        <div id="one-trip-menu">

            <a href="/private/expenses/{{trip._id}}/add"><img src="/images/plus52-5.png " alt="New Expense" /></a>

        {{#if trip.expenses}}
            <div id="one-trip-menu-balances">
                {{#each balances}}
                  <h4>{{this.user}}: € {{this.amount}}</h4>
                {{/each}}
            </div>

        </div>

        <div id="one-trip-content">

        {{#each trip.expenses}}
            <div id="one-trip-single">
    
                <div class="one-trip-single-line">
                    <div id="one-trip-single-line-description">
                      <img src="/images/{{this.category}}.png" alt="{{this.category}}">
                      <a href="/private/expenses/{{this._id}}">{{this.description}}</a>
                    </div>
                    <div>
                      <h3>{{this.user.username}}</h3>
                    </div>
                    <div>
                      <h3>€ {{this.cost}}</h3>
                    </div>
                </div>

            </div>
          {{/each}}

        </div>

        <div id="one-trip-footer">
          <h3>Sum: € {{trip.totalExpenses}}</h3>
        </div>

      {{/if}}

    </div>

      <a href="/private/trips/{{trip._id}}/edit"><button class="body-container-button-edit">Edit Trip</button></a>

  <form action="/private/trips/{{trip._id}}/delete" method="POST">
    <button class="body-container-button-delete" type="submit">Delete Trip</button>
  </form>
    
</div>